.game-title-image{
    max-width: 90%;
}

.quickfacts-list {
    width: 100%;
    /* background-color: rgb(25, 82, 82); */
    /* display: flex;
    flex-direction: row; */
    columns: auto 2;
    border-collapse: collapse;
}

.quickfacts-list tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.05);
}

.quickfacts-list th,
td {
    padding: 0.5rem 1rem;
    text-align: left;
    vertical-align: top;
    border: 0px;
}

.quickfacts-list th {
    min-width: 100px;
    font-weight: 700;
}


@media (max-width: 768px) {

    .quickfacts-list th,
    .quickfacts-list td {
        display: block;
        width: 100%;
        padding: 0rem 1rem;
    }
    .quickfacts-list td {
        text-align: right;
    }
}